* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 800px;
  margin-inline: auto;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

.active {
  background-color: #adb5bd;
}
